/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: Poppins,sans-serif; */
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* icons home page */



/* all similar content styling codes */
section{
    padding: 100px 0;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0,0.3));; */
    /* background: #f7e4f5; */
    background: rgb(241, 215, 220);
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}
/* nav{
    display: block;
} */


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(221, 238, 72);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    /* color: crimson; */
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: black;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 700;
    /* 
        border: 12px solid rgba( 220, 20, 60, 0.3) */
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:  rgba(255, 255, 255);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}




/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/Priyal\ Panara\ \(2\).png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;


  text-align: center;
  align-items: center;
  justify-content: left;

   
} 
  /* .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
.home .max-width{
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  text-align: left;
  color :black;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    /* color:crimson; */
    /* color:rgb(254, 134, 37); */
    /* color: rgb(251, 119, 165); */
    /* color: crimson; */
    color: white;

    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    /* background: rgb(254, 134, 37); */
    background: none;
    
    border: 2px solid rgba( 220, 20, 60, 0.6) ;
    
    transition: all 0.3s ease; 
    display: inline-block;
    padding: 10px 20px;
    border: none;
    /* background-color: #ccc; */
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px;
    border: 2px solid   rgb(224, 49, 84);
    background-color: transparent;
    /* color: #ccc; */
    color : rgb(235, 64, 98);
    margin-right: 12px; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}
.home .home-content a:hover{
    /* color:  rgb(254, 134, 37); */
    /* background :rgb(135, 4, 26); */
    background : rgba(220, 20, 60 ,0.8);
    /* background: rgb(254, 134, 37, 0.6); */
    color: #fff;
    box-shadow: 0 0 15px #12120f;

    /* background: none; */
}
/* .home .home-content .social-icon .img1:hover:before{
    box-shadow: 0 0 10px green;
  } */
.home .home-content ul{
    display: flex;}
.home .home-content .social-icon li{
    position: relative;
   
    display: block;
    color: #666;
    /* font-size: 15px; */
    height: 38px;
    width: 38px;
    /* background:white; */
    line-height: 60px;
    border-radius: 50%;
    /* margin-top: 100px; */
    margin: 0 10px;
    cursor: pointer;
    transition: .5s;
    /* width: 400px;
  height: 300px; */
  
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .home .home-content .social-icon  li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  .home .home-content .social-icon .picture {
      max-width: 100%;
      max-height: 100%;
    }
    
    .home .home-content .social-icon  li:nth-child(1):before{
    background: #3bc94c;
   
   
  
  }
  .home .home-content .social-icon  li:nth-child(2):before{
    background: #1DA1F2;
   
    
  
  }
  .home .home-content .social-icon  li:nth-child(3):before{
    background: white;
   
    
  }
  
  .home .home-content .social-icon  li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  .home .home-content .social-icon .img1:hover:before{
    box-shadow: 0 0 15px green;
  }
  .home .home-content .social-icon  .img2:hover:before{
    box-shadow: 0 0 15px blue;
  }
  .home .home-content .social-icon  .img3:hover:before{
    box-shadow: 0 0 15px white;
  }
  

/* about section styling */
.about {
    background: rgb(253, 231, 240);
    /* background-image: linear-gradient(to right, #0CC0DF,#0CC0DF); */

}
.about .title::after{
    content: "Who I am";
    font-size: 16px;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgba(220, 20, 60 ,1);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    /* display: inline-block;
    background: rgb(254, 134, 37);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(254, 134, 37);
    transition: all 0.3s ease; */
    display: inline-block;
    /* background: rgb(254, 134, 37); */
    background: none;
    /* width: 180px;
    height:55px; */
    border: 2px solid rgba( 220, 20, 60, 0.6) ;
    
    transition: all 0.3s ease; 
    display: inline-block;
    padding: 10px 20px;
    border: none;
    /* background-color: #ccc; */
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 18px;
    border: 2px solid   rgb(224, 49, 84);
    background-color: transparent;
    /* color: #ccc; */
    color : rgb(235, 64, 98);
    margin-right: 12px; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
   font-family: 'Ubuntu', sans-serif; 
}
.about .about-content .right a:hover{
    background : rgba(220, 20, 60 ,0.8);
    /* background: rgb(254, 134, 37, 0.6); */
    color: #fff;
    box-shadow: 0 0 15px #12120f;
}
/* fake skill */

  
  .ptag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: x-large;
    font-weight: 700;
  }



/* projects section */
/* projects section */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .projects{
    margin-bottom: 0px;
    padding-bottom: 0;
    background: rgb(230, 243, 239);
  }
  
  body {
    font-family: "Raleway", sans-serif;
    height: 100vh;
    background: white;
  }
  
  .container1{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
  }
  .image:hover{
    box-shadow:  0 22px 44px rgba(0, 0, 0, 1)

  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  
  .image {
    background: #090909;
    position: relative;
    flex-basis: calc(33.33% - 20px); /* Adjust the width of each box for laptop view */
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 1023px) {
    .image {
      flex-basis: calc(50% - 20px); /* Display 2 boxes per row on tablet view */
    }
  }
  
  @media screen and (max-width: 767px) {
    .image {
      flex-basis: 100%; /* Display 1 box per row on mobile view */
    }
  }
  
  .image img {
    opacity: 0.9;
    position: relative;
    vertical-align: top;
    transition: opacity 1s;
    max-width: 100%;
    height: auto;
  }
  
  .image:hover img {
    opacity: 0.4;
    /* box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.15); */
  }
  
  .image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(254, 246, 246);
    width: 100%;
    height: 100%;
  }
  
  .image .details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: transform 0.4s;
  }
  
  .image .details h2 span {
    font-weight: 900;
  }
  
  .image:hover .details h2 {
    transform: translateY(-30px);
  }
  
  .image .details p {
    margin: 30px 30px 0 30px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
  }
  
  .image:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
  }
  
  .more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: bottom 0.6s;
  }
  
  .image:hover .more {
    bottom: 0;
  }
  
  .more .read-more {
    color: #2640a8;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  
  }
  
  .more .read-more span {
    font-weight: 900;
  }
  
  .more .icon-links i {
    color: #000;
    font-size: 20px;
  }
  
  .more .icon-links a:not(:last-child) i {
    margin-right: 20px;
  }
  .projects {
    width: 100%;
  }
  .projects .title::after {
    content: "What I developed";
    font-size: 16px;
}

/* @media (max-width:1000px){
    .image{
        flex:100;
        max-width: 480px;
    }
}

@media (max-width:400px){
    .image .details p{
        font-size: 16px;
    }
.more .read-more, .more .icon-links a i {
    font-size: 18px;
}


} */

  
  


.skills .title::after {
    content: "what I know";
    font-size: 16px;
    /* margin-top: 0px; */
  }
  .skills{
    background: rgb(253, 231, 240);
  }
  
  .flex-c{
    display:flex;
    /* border: 1px solid red; */
    justify-content: left;
    /* align-items: ; */
    /* height: 200px; */
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: column;
    width: auto;
    /*  justify-content: center; */
    /* align-items: center;  */
   
    

}
.flex1 , .flex2, .flex3{
    display:flex;
    /* height:300px; */
    /* width: auto;
    border: 5px solid pink; */
    margin: 12px; 
    /* background: yellowgreen; */
    border-width: 2px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    /* margin-top: 0px; */
}
.flex-i{
   
    height: 135px;
    width: 135px;
    /* border: 2px solid pink; */
    /* margin-top: 28px; */
    margin-bottom: 18px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px;
  border-radius: 18px;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
@media screen and (max-width:640px) {
  .flex-i{

    margin-left: 0px;

  }
  .flex1, .flex2, .flex3{
    justify-content: center;
  }

  
}
.flex-i .icon {
    width: 130px;
    height: 130px;
    padding: 20px;
  
    
}
.flex-i .icon:hover{
    background-color: rgba(21, 1, 20, 0.6);
   box-shadow: 10px 10px 15px rgba(0, 0, 0 ,0.9);
  
}
.flex-i .icon-card {
    border: 2px solid #ccc;
    border-radius:11px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add box shadow

.flex-i .h2{
align-items: center;
justify-content: center;
/* flex-wrap: wrap; */
display: flex;
flex-wrap: wrap;
display: flex;

}
.flexm1{
    display: flex;
    width:auto;
    display:flex;
    /* height:300px; */
    width: auto;
    /* border: 1px solid pink; */
    /* margin: 12px; */
    /* background: yellowgreen; */
    /* border-width: 2px solid black; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* .flex2{
    height:300px;
    width: 400px;
    border: 5px solid pink;
    margin: 12px;
    background: yellowgreen;
    border-width: 2px solid black;
}
.flex3{
    height:300px;
    width: 400px;
    border: 5px solid pink;
    margin: 12px;
    background: yellowgreen;
    border-width: 2px solid black;
} */
.education .title::after {
  content: "where I studied";
  font-size: 16px;
}
.education{
  background: rgba(253, 231, 240);
}
  .timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  pre{
    font-weight: 550;
    
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: rgba(220, 20, 60 ,0.8);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .container.left {
    left: 0;
  }
  
  .container.right {
    left: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid rgba(220, 20, 60 ,0.8);
    border-radius: 16px;
    z-index: 1;
  }
  
  .container.right::after {
    left: -8px;
  }
  
  .container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: rgba(220, 20, 60 ,0.8);
    z-index: 1;
  }
  
  .container.right::before {
    left: 8px;
  }
  
  .container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: rgba(220, 20, 60 ,0.8);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .container.left .date {
    right: -75px;
  }
  
  .container.right .date {
    left: -75px;
  }
  
  .container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
   
    border: 2px solid rgba(220, 20, 60 ,0.8);
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color:rgba(220, 20, 60 ,0.8);
    z-index: 1;
  }
  .content time {
      font-weight: bold;
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
    }
    
  
  .container.left .icon {
    right: 56px;
  }
  
  .container.right .icon {
    left: 56px;
  }
  
  .container .content {
    padding: 30px 90px 30px 30px;
    background: linear-gradient(to right, #81dded, #dad455);
    ;
    position: relative;
    border-radius: 0 500px 500px 0;
  }
  .container .content:hover{
    box-shadow: 10px 10px 20px #12120f;
  }
  
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  .container .content h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 1000;
    color: rgba(220, 20, 60 ,0.8);
    font-family: "Poppins", sans-serif;
  }
  
  .container .content p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after, 
    .container.right::after {
      left: 82px;
    }
  
    .container.left::before,
    .container.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
      right: auto;
      left: 15px;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }
  



  

/* education */


/* *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

  





/* teams section styling */








/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
.contact{
  background: rgb(253, 231, 240);
}
.contact .title::after{
    content: "get in touch";
    font-size: 16px;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row1{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row1 .info{
    margin-left: 30px;
}
.contact .contact-content .row1 i{
    font-size: 25px;
    color: rgba(220, 20, 60 ,0.8);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  display: inline-block;
    /* background: rgb(254, 134, 37); */
    background: none;
    
    border: 2px solid rgba( 220, 20, 60, 0.6) ;
    
    transition: all 0.3s ease; 
    display: inline-block;
    padding: 10px 20px;
    border: none;
    /* background-color: #ccc; */
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px;
    border: 2px solid   rgb(224, 49, 84);
    background-color: transparent;
    /* color: #ccc; */
    color : rgb(235, 64, 98);
    margin-right: 12px; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.right form .button-area button:hover{
  background : rgba(220, 20, 60 ,0.8);
  /* background: rgb(254, 134, 37, 0.6); */
  color: #fff;
  box-shadow: 0 0 15px #12120f;
}
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: white;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


/* experience */
.experience .title::after{
  content: "Professional background";
  font-size: 14px;
  
}
.experience{
  background-color: rgb(230, 243, 239);
}
.card1{
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto ;
  width: 80%;
  /* border:2px solid rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2); */
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 30px;
  font-family: Poppins,sans-serif;
}
.right-exp{
  display: flex;
  flex-direction: column;
  /* border:2px solid black; */
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 15px rgb(220, 20, 60,0.2);




}


.rtop{
 
  /* border:2px solid black; */
  display: flex;
  /* justify-content: center; */

  justify-content: center;
  align-items: center;

}
.card1 img{
  max-width: 133px;
  width: 80%;
}
.card1 h1{
  padding: 2px;
  color: rgb(220, 20, 60);
}
.left-exp{
  /* border:2px solid black; */
 margin: 10px;
 box-shadow: 0 8px 15px rgba(220, 20, 60,0.3);
 padding: 32px;
}



/*b whyme */
.WhyMe{
  background-color: rgb(230, 243, 239);
}
.WhyMe .title::after{
  content: "what sets me apart";
  font-size: 16px;
}
.me-box{
 display: flex;
 /* border: 2px solid black; */
 /* justify-content: space-around; */
 align-items: center;
 margin-left: auto;
 margin-right: auto;
justify-content: space-around;
 flex-wrap:wrap;
 
}
.softskills{
  border: 0.3px solid rgba(220, 20, 60,0.5tt);
  display: flex;
  flex-direction: column;
  /* width: 28%; */

  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px  rgba(220, 20, 60,0.3);
}
.softskills .quality{
  padding: 10px;
  font-family: Poppins,sans-serif;
  color: rgba(220, 20, 60,0.8);
}

.me-box img{
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  /* justify-content: center;
  align-items: center; */


}
.icons1{
  margin-left: auto;
  margin-right: auto;
  /* border:2px solid red; */
  display: flex;
}
.icons1 img{
  margin-left: auto;
  margin-right: auto;
}


/* teams section styling */
.teams .title::after{
  content: "what people say ";
}
.teams .carousel .card{
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover{
  background: crimson;
  box-shadow: 0 0 15px #12120f;

}
.teams .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
  transform: scale(1.05);
  /* box-shadow: 0 0 15px #12120f; */

}
.teams .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.teams .carousel .card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
  border-color: #fff;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: crimson!important;
}
.text p, .box p{
  font-size: 12px ;
  color: white;
}
.text h5{
  color: white;
}

.left-desp-top{
  padding-bottom:10px;

}
.Nm-time{
  display: flex;
  
  justify-content: space-between;
  /* border:2px solid rgba(220, 20, 60,0.3); */
  /* padding:10px; */
  /* margin:10px; */

}
.duration{
  /* align-self: flex-end; */
  justify-self: flex-end;

}